.menu-icon-beat-up {
}
.menu-icon-beat-up:hover {
  animation: flip-scale-down-diag-2 0.01s linear both;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes flip-scale-down-diag-2 {
  0% {
    transform: scale(1);
    /* rotate3d(-1, 1, 0, 0deg); */
    opacity: 1;
  }
  50% {
    /* rotate3d(-1, 1, 0, -90deg); */
  }
  100% {
    transform: scale(1);
    /* rotate3d(-1, 1, 0, -180deg); */
    opacity: 0.85;
  }
}
@keyframes menu-item-expend {
  0% {
    overflow: hidden;
    width: 0%;
  }
  100% {
    overflow: hidden;
    width: 100%;
  }
}

.menu-panel-info {
  overflow: auto;
  height: 100%;
  padding: 16px !important;
  margin-top: 6px;
  background-color: #f2f2f2;
  border-radius: 4px;
  box-shadow: 0 0 10px #00000047;
  padding: 5px;
  font-size: 14px;
}
.nav-span {
  display: inline-block;
  border: 1px solid gray;
  margin-right: 10px;
  padding: 4px 6px;
  border-radius: 4px;
}
.nav-span:hover {
  cursor: pointer;
}
.menu-panel-wrapper {
  /* background-color: #363636; */

  height: auto;
  white-space: nowrap;
  overflow: hidden;
  width: 50px;
  transition: 0.3s width ease, 0.5s transform ease;
  border-radius: 5px;
}
.menu-panel-wrapper:hover {
  width: 250px !important;
  transition: 0.3s width ease, 0.5s transform ease;
}

.menu-panel-item-span {
  /* . */
  transform: rotate(360deg);
}
.menu-panel-item-span:hover {
  /* animation: spin 4s linear infinite; */
  transform: rotate(360deg);

  background: red;
}

.anim-ease-width-height {
  transition: all 0.08s linear;
  height: 400px;
}
.anim-ease-width-height:hover {
  width: 600px !important;
  height: 600px !important;
}
