a {
  background-color: gainsboro;
  height: 20px;
  border-radius: 5px;
  padding: 0 4px;
  color: rgb(105, 183, 25);
}

b{
  width: 16px;
  height: 16px;
  background:red;
  background-image: url(./resource/images/goog.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: 0% 25%;
}