a {
  background-color: gainsboro;
  height: 20px;
  border-radius: 5px;
  padding: 0 4px;
  color: #db995c;
}

b{
  width: 16px;
  height: 16px;
  background:red;
  background-image: url(./resource/images/goog.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: 0% 25%;
}
c{
  font-style: italic;
  color: rgb(206, 145, 120);
}
d{
  color: #e6893e;
}